body {
font-family: Arial;
text-align: center;
background: #e8f5e9;
color: #1b5e20;
}

button {
padding: 10px;
margin: 5px;
border: none;
background: #43a047;
color: white;
cursor: pointer;
}

button:hover {
background: #2e7d32;
}

.dark {
background: #263238;
color: white;
}
